@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;padding:0;box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color:#8d99ae;
}
header{
    width:100%;
    height:80px;
    display:grid;
    place-items: center;
    background-color: #2b2d42;
    color:#8d99ae;
    margin-bottom:20px;
}

a{
    text-decoration: none;
    color:#8d99ae;
}


.controls{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-bottom:20px;
    font-size:18px;
}

.control{
    margin:10px;
}

input{
    background-color: #8d99ae;
    color:#2b2d42;
    outline: none;
    border:none;
    font-size:18px;
    width:100px;
}

button{
    border:none;
    display:grid;
    place-items: center;
    cursor: pointer;
    height:32px;
    width:32px;
    border-radius: 50%;
    background-color: #8d99ae;
    color:#2b2d42;
    font-size:15px;
}
button:hover{
    color: #8d99ae;
    background-color:#2b2d42;
}


#main_nav{
    width:500px;
    height:50px;
    background-color: #2b2d42;
    color:#8d99ae;
    display:grid;
    place-items: center;
    font-size:20px;
}

#main_content{
    background-color: #8d99ae;
    display:grid;
}

#adult{
    z-index:1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position:absolute;
    display:grid;
    place-items: center;

}


.one-cube{
    cursor: pointer;
    background-color: #2b2d42;
    color:#8d99ae;
    border:2px solid #8d99ae;
    width:50px;
    height:50px;
    display:grid;
    place-items: center;
    font-size: 15px;
}


.flag{
    transition: box-shadow 0.1s ease-in;
    box-shadow:0px 0px 0px 10px black inset;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#title{    
    position:absolute;
    bottom:100px;
    width:70px;
    right:50px;
    height:70px;
    border-radius: 50%;

        

    background-color:#2b2d42;
    color: #8d99ae;
    cursor: pointer;
}

#title p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left:31px;
    top:24px;
}
#leaders{
    display:none;
}
.champion{
    display:grid;
    place-items: center;
    height:50px;
    color:rgba(141, 153, 174,0.7);
    background-color:rgba(43, 45, 66,0.7);
    border:2px solid #2b2d42;
}
.topka-onclick{
    transition:0.4s linear;
    z-index:10;  
    width:600px;
    height:700px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(66, 66, 66, 0.5);
}
.topka-onclick #title{
    position:relative;
    margin-top:100px;
    margin-left:50px;
    border-radius: 0;
    width:600px;
}
.topka-onclick #TOPKA{
    position: relative;
    display:grid;
    place-items: center;
    left:0;
    right:0;
}

.animation-b{
    animation: animation-backward 0.4s linear;
}


@keyframes animation-backward {
    from{
        width:600px;
        position:absolute;
        bottom:80%;
        right:50%;
        z-index:10;
    }
    to{
        position:absolute;
        width:70px;
        bottom:100px;
        right:50px;
    }

}
